---
layout: page
title: Books
---

Most recent first; technical books are not included. Click on the &#8619; after any book to find out which previous read brought my attention to the book.

{% assign sorted_years = site.data.books | sort: "year" | reverse %}
{% for year in sorted_years %}
<h2>{{ year.year }}</h2>
<ul>
  {% comment %}
    Every book in the list has an ID that's based on the book's
    title. To refer to that book from another point in the
    document, use the title of the book, and slugify it in
    the same way.
  {% endcomment %}
  {% for book in year.read %}
  <li id="{{ book.title | slugify }}" class="book-ref">
    <i>{{ book.title }}</i>, {{ book.author }}
    {% if book.referred_by %}
      &nbsp;
      <a href="#{{ book.referred_by | slugify }}">&#8619;</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endfor %}
