@charset "UTF-8";

/*******************************/
/* ET-Book font from Tufte CSS */
/*******************************/

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book-roman-old-style";
    src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
    src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*************************/
/* Playfair Display font */
/*************************/

/* playfair-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('playfair-display/playfair-display-v36-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('playfair-display/playfair-display-v36-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* playfair-display-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  src: url('playfair-display/playfair-display-v36-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('playfair-display/playfair-display-v36-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* playfair-display-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 500;
  src: url('playfair-display/playfair-display-v36-latin-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('playfair-display/playfair-display-v36-latin-500italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* playfair-display-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  src: url('playfair-display/playfair-display-v36-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('playfair-display/playfair-display-v36-latin-800.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* playfair-display-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 800;
  src: url('playfair-display/playfair-display-v36-latin-800italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('playfair-display/playfair-display-v36-latin-800italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}


/**************/
/* Base style */
/**************/

html {
    --glow-color: rgba(255, 239, 0, 0.8);
    --text-color: #111;
    --background-color: #ffffff;
    --link-color: #0000f0;
    --link-interact-color: #000080;
    --table-border-color: #e5e5e5;
    --table-background-color: #f9f9f9;
    --code-background-color: #f3f3f3;
    --code-border-color: #606060;
 
    font-size: 21px;
    background-color: var(--background-color);
    color: var(--text-color);
}

a:link, a:visited {
    color: var(--link-color);
    text-decoration: underline dotted;
}

a:hover, a:active {
    color: var(--link-interact-color);
}

a:hover {
    /* text-shadow: 0 0 7px var(--glow-color); */
    text-decoration: underline solid;
}

body {
    /* Font */
    font-family: et-book, Georgia, serif;
    /* Center primary content */
    width: 87.5%;		/* In case the window is smaller than max-width. */
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    text-align: justify;
}

.post-title {
    margin-bottom: 0em;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    text-rendering: optimizeLegibility;
    font-weight: normal;
}

article h1 {
    border-bottom: 1px solid;
}

article h2, article h3, article h4, article h5, article h6 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: 1px;
}

h1 .octicon, h2 .octicon, h3 .octicon, h4 .octicon, h5 .octicon, h6 .octicon  {
  visibility: hidden;
}

h1:hover .octicon, h2:hover .octicon, h3:hover .octicon, h4:hover .octicon, h5:hover .octicon, h6:hover .octicon {
  visibility: visible;
}

/* Icons for links on headings */
.octicon {
  fill: currentColor;
  padding: 0;
  vertical-align: middle;
}

hr {
    height: 1px;
    border: 0px;
    border-top: 1px solid var(--text-color);
    margin: 1em 0;
    padding: 0;
}

img {
    max-width: 400px;
}

@media (max-width: 400px) {
    img {
	max-width: 100%
    }
}

/* Tables from Poole */
.pretty-table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--table-border-color);
  border-collapse: collapse;
}
.pretty-table td,
.pretty-table th {
  padding: .25rem .5rem;
  border: 1px solid var(--table-border-color);
}
.pretty-table tbody tr:nth-child(odd) td,
.pretty-table tbody tr:nth-child(odd) th {
  background-color: var(--table-background-color);
}


/*********************/
/* Navigation crumbs */
/*********************/

nav {
    border-bottom: 1px solid;
    text-align: center;
    font-family: Playfair Display, Georgia, serif;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav li {
    display: inline-block;
}

nav li:not(:last-child)::after {
    content: '◦';
    padding: 0 4px;
}

nav li:last-child::after {
    content: none;
}

@media (max-width: 40em) {
    nav {
	border: initial;
	border-top: 1px solid;

	/* Anchor at bottom of page */
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--background-color);

	overflow-x: scroll;
	padding: 1.2em 0em 1.2em;
    }

    nav ul {
	white-space: nowrap;
	margin: 0;
	padding: 0em 1.2em;
    }

    nav li:not(:last-child)::after  {
	padding: 0 8px;
    }

    nav li:last-child {
	padding-right: 1.2em;
    }
}


/************/
/* Masthead */
/************/

.masthead {
    text-align: center;
    /* Yellow glow */
    text-shadow: 0 0 10px var(--glow-color);
    font-family: 'Playfair Display', Georgia, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    margin: 0.48em;
    text-decoration: underline solid;
}

.masthead a:hover, .masthead a:active {
    /* Overwrite the effect hover has on the link's color. */
    color: var(--link-color);
}


/**************/
/* Post index */
/**************/

.posts {
    text-align: left;
}

@media (max-width: 50em) {
    .posts {
	border-collapse: collapse;
	width: 100%;
	border-style: solid;
	border-width: 1px 0;
	border-color: var(--text-color);
    }
 
    .posts tr {
	border-bottom: 1px solid var(--text-color);
    }

    .posts td,
    .posts th {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
    }    
}


/********/
/* Code */
/********/

/* Code blocks. */
pre {
    background-color: var(--code-background-color);
    border-color: var(--code-border-color);
    overflow: scroll;
    padding: 0.5em;
    border-style: solid;
    border-width: 0.12em 0em;
    line-height: 0.85em;
}

code {
    font-size: 15px;
}

/* Inline code. */
code:not(pre code) {
    background-color: var(--code-background-color);
    border-radius: 3px;
    text-decoration: none;
    padding: 0.5px 3px;
}
