---
layout: default
---

<h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>

<small>
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
</small>

<article>
    {% include anchor_headings.html html=content anchorBody="<svg class='octicon' viewBox='0 0 16 16' version='1.1' width='16' height='32' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>" %}
</article>

<footer>
    <div class="white-box" style="height: 60px"></div>
    <div class="black-box" style="height: var(--1)"></div>
    <div class="white-box" style="height: var(--14)"></div>
    <div class="black-box" style="height: var(--2)"></div>
    <div class="white-box" style="height: var(--13)"></div>
    <div class="black-box" style="height: var(--3)"></div>
    <div class="white-box" style="height: var(--12)"></div>
    <div class="black-box" style="height: var(--4)"></div>
    <div class="white-box" style="height: var(--11)"></div>
    <div class="black-box" style="height: var(--5)"></div>
    <div class="white-box" style="height: var(--10)"></div>
    <div class="black-box" style="height: var(--6)"></div>
    <div class="white-box" style="height: var(--9)"></div>
    <div class="black-box" style="height: var(--7)"></div>
    <div class="white-box" style="height: var(--8)"></div>
    <div class="black-box" style="height: var(--8)"></div>
    <div class="white-box" style="height: var(--7)"></div>
    <div class="black-box" style="height: var(--9)"></div>
    <div class="white-box" style="height: var(--6)"></div>
    <div class="black-box" style="height: var(--10)"></div>
    <div class="white-box" style="height: var(--5)"></div>
    <div class="black-box" style="height: var(--11)"></div>
    <div class="white-box" style="height: var(--4)"></div>
    <div class="black-box" style="height: var(--12)"></div>
    <div class="white-box" style="height: var(--3)"></div>
    <div class="black-box" style="height: var(--13)"></div>
    <div class="white-box" style="height: var(--2)"></div>
    <div class="black-box" style="height: var(--14)"></div>
    <div class="white-box" style="height: var(--1)"></div>
    <div class="black-box" style="height: var(--15)">
	I liked this kind of pattern at the bottom of OpenAI's site :)
    </div>
</footer>

<!-- Mathjax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
     tex2jax: {
	 inlineMath: [['$','$'], ['\\(','\\)']],
	 processEscapes: true
     }
 });
</script>
