---
layout: default
---

<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

<small>
  <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
  - {{ site.author }}
</small>

{{ content }}

<hr />

<p>
  Hey, you've reached the end! If you liked this post,
  <a rel="noopener" href="#share-links">share it</a>
  with others who enjoy this kind of content.
  Also, consider subscribing to the
  <a ref="noopener" href="#bd-email">newsletter</a> or
  <a href="{{ '/atom.xml' | absolute_url }}" target="_blank">RSS feed</a>
  to stay updated with new posts.

  {% include subscribe_form.html %}
</p>

<!-- Mathjax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      tex2jax: {
	  inlineMath: [['$','$'], ['\\(','\\)']],
	  processEscapes: true
      }
  });
</script>
